<div class="page">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-light-white  ">
        <div>
            <svg class="bi bi-house-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                <path fill-rule="evenodd"
                    d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
            </svg>
        </div>

        <h5 class="my-0 mr-md-auto font-weight-normal">浙江机电职业技术学院</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{{menu.url}}" *ngFor="let menu of menus">{{menu.name}}</a>
        </nav>
        <a class="btn btn-dark" [routerLink]="['/login']">登录</a>
    </div>


    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4"></h1>
        <h2 class="font-weight-light">智慧卫生间---Neon</h2>
        <br>
        <p class="display-4 font-weight-bold text-info">终端登录管理处</p>
    </div>


    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm" *ngFor='let product of products;let i = index'>
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{product.category}}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">${{product.pricing.price}}<small class="text-muted">/
                            {{product.pricing.unit}}</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li *ngFor='let feature of product.features'>{{feature}}</li>
                    </ul>
                    <button [ngClass]="{'btn-outline-primary':i===0,'btn-primary':i!==0}" type="button"
                        class="btn btn-lg btn-block">{{product.action}}</button>
                </div>
            </div>
        </div>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <img class="mb-2" src="assets/img/home.svg" alt="" width="24" height="24">
                    <small class="d-block mb-3 text-muted">© Neon</small>
                </div>
                <div class="col-6 col-md" *ngFor='let skip of skips'>
                    <h5>{{skip.sort}}</h5>
                    <ul class="list-unstyled text-small">
                        <li *ngFor='let name of skip.names'><a class="text-muted" href="#">{{name}}</a></li>
                    </ul>
                </div>

            </div>
        </footer>
    </div>
</div>