<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2 text-info">用户管理</h1>
</div>

<div class="my-3 p-3 bg-white rounded shadow-sm div">
    <div class="text-center">
        <h4>数据表映射<span class="badge badge-secondary">New</span></h4>
    </div>
    <div>
        <div>
            <table id="userTable" class="table table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">ID号</th>
                        <th scope="col">用户名</th>
                        <th scope="col">密码</th>
                        <th scope="col">备注</th>
                        <th scope="col">选中状态</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let user of users$ | async;' (click)="select(user)">
                        <th scope="row">{{user.id}}</th>
                        <td>{{user.username}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.message}}</td>
                        <td><input type="radio" class="form-check-input" id="exampleCheck1"
                                name="option1"><label>选中</label></td>
                        <td>
                            <input type="button" class="btn btn-outline-danger" value="删除"
                                (click)="openModal(template_delete)" style="border: none;text-decoration:underline">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center">
        <div class="col-auto my-1">
            <button class="btn btn-success" (click)="openModal(template_add)">新增</button>
            <button class="btn btn-warning" (click)="openModal(template_update)">修改</button>
            <button class="btn btn-primary" (click)="openModal(template_search)">查询</button>
        </div>
    </div>
</div>

<ng-template #template_add>
    <div class="modal-header">
        <h4 class="modal-title pull-left">添加面板</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="userForm">
            <div class="form-group">
                <label for="id">ID号</label>
                <input type="text" class="form-control" id="id" name="id" [formControl]='id'
                    [ngClass]="{'is-invalid': id.invalid,'is-valid':id.valid}">
                <div class="valid-feedback">
                    ID号格式正确！
                </div>
                <div class="invalid-feedback">
                    <span *ngIf="id.hasError('required')">ID号必须填写！</span>
                    <span *ngIf="!id.hasError('required') && id.hasError('invalidId')">ID号必须是数字！</span>
                </div>
            </div>
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" class="form-control" id="username" name="username" [formControl]='username'
                    [ngClass]="{'is-invalid': username.invalid,'is-valid':username.valid}">
                <div class="valid-feedback">
                    用户名格式正确！
                </div>
                <div class="invalid-feedback">
                    <span *ngIf="username.hasError('required')">用户名必须填写！</span>
                    <span *ngIf="!username.hasError('required') && username.hasError('invalidUser')">用户名必须以a字母开头！</span>
                </div>
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" id="password" name="password" [formControl]='password'
                    [ngClass]="{'is-invalid': password.invalid,'is-valid':password.valid}">
                <div class="valid-feedback">
                    密码格式正确！
                </div>
                <div class="invalid-feedback">
                    密码必须大于5位！
                </div>
            </div>
            <div class="form-group">
                <label for="message">备注</label>
                <input type="text" class="form-control" id="message" name="message" [formControl]='message'>
            </div>
        </form>
        <button type="button" class="btn btn-success btn-lg btn-block" (click)="add();modalRef.hide()">添加</button>
    </div>
</ng-template>

<ng-template #template_delete>
    <div class="modal-header">
        <h4 class="modal-title pull-left">确定要删除吗？</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <button type="button" class="btn btn-danger btn-lg btn-block" (click)="delete();modalRef.hide()">确定</button>
            <button type="button" class="btn btn-light btn-lg  btn-block" (click)="modalRef.hide()">取消</button>
        </div>
    </div>
</ng-template>

<ng-template #template_update>
    <div class="modal-header">
        <h4 class="modal-title pull-left">修改面板</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide() ">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="userForm">
            <div class="form-group">
                <label for="id">ID号</label>
                <input type="text" class="form-control" id="id" name="id" [formControl]='id'
                    [ngClass]="{'is-invalid': id.invalid,'is-valid':id.valid}">
                <div class="valid-feedback">
                    ID号格式正确！
                </div>
                <div class="invalid-feedback">
                    <span *ngIf="id.hasError('required')">ID号必须填写！</span>
                    <span *ngIf="!id.hasError('required') && id.hasError('invalidId')">ID号必须是数字！</span>
                </div>
            </div>
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" class="form-control" id="username" name="username" [formControl]='username'
                    [ngClass]="{'is-invalid': username.invalid,'is-valid':username.valid}">
                <div class="valid-feedback">
                    用户名格式正确！
                </div>
                <div class="invalid-feedback">
                    <span *ngIf="username.hasError('required')">用户名必须填写！</span>
                    <span *ngIf="!username.hasError('required') && username.hasError('invalidUser')">用户名必须以a字母开头！</span>
                </div>
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" id="password" name="password" [formControl]='password'
                    [ngClass]="{'is-invalid': password.invalid,'is-valid':password.valid}">
                <div class="valid-feedback">
                    密码格式正确！
                </div>
                <div class="invalid-feedback">
                    密码必须大于5位！
                </div>
            </div>
            <div class="form-group">
                <label for="message">备注</label>
                <input type="text" class="form-control" id="message" name="message" [formControl]='message'>
            </div>
        </form>
        <button type="button" class="btn btn-warning btn-lg btn-block" (click)="update();modalRef.hide()">修改</button>
    </div>
</ng-template>

<ng-template #template_search>
    <div class="modal-header">
        <h4 class="modal-title pull-left">查询面板</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="userForm">
            <div class="form-group">
                <label for="id">请输入你要查询的用户名：</label>
                <input type="text" class="form-control" id="username" name="username" [formControl]='username'>
            </div>
        </form>
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="search();modalRef.hide()">查询</button>
    </div>
</ng-template>