<ion-header>
  <ion-toolbar>
    <ion-title>添加面板</ion-title>
    <ion-buttons slot="end">
      <ion-back-button class="show-back-button" (click)="doClose()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item>
      <ion-label position="floating">ID号</ion-label>
      <ion-input id="id" name="id" [(ngModel)]="id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">类型</ion-label>
      <ion-input id="type" name="type" [(ngModel)]="type"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">设备名</ion-label>
      <ion-input id="name" name="name" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">描述</ion-label>
      <ion-input id="descr" name="descr" [(ngModel)]="descr"></ion-input>
    </ion-item>
  </ion-item-group>
  <ion-button color="success" expand="block" (click)="add();doClose()">添加</ion-button>
</ion-content>