<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2 text-info">设备详情</h1>
</div>

<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm div">
        <div echarts [options]="chartOptionTemp_101" [merge]="updateOptionTemp_101" class="demo-chart"></div>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm div">
        <div echarts [options]="chartOptionHumd_101" [merge]="updateOptionHumd_101" class="demo-chart"></div>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm div">
        <div echarts [options]="chartOptionSmoke_101" [merge]="updateOptionSmoke_101" class="demo-chart"></div>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm div">
        <div echarts [options]="chartOptionNH3_101" [merge]="updateOptionNH3_101" class="demo-chart"></div>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm div">
        <div echarts [options]="chartOptionH2S_101" [merge]="updateOptionH2S_101" class="demo-chart"></div>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm div">
        <div echarts [options]="chartOptionTemp_001" [merge]="updateOptionTemp_001" class="demo-chart"></div>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm div">
        <div echarts [options]="chartOptionHumd_001" [merge]="updateOptionHumd_001" class="demo-chart"></div>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm div">
        <div echarts [options]="chartOptionSmoke_001" [merge]="updateOptionSmoke_001" class="demo-chart"></div>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm div">
        <div echarts [options]="chartOptionNH3_001" [merge]="updateOptionNH3_001" class="demo-chart"></div>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm div">
        <div echarts [options]="chartOptionH2S_001" [merge]="updateOptionH2S_001" class="demo-chart"></div>
    </div>
</main>